.App{
  
  color: #253238;
}
.languageBar{
  background-color: #253238;

  .inner-languageBar{
    color: #ffffff;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logIn{
      margin-left: auto;
      margin-right: 20px;
    }
    .buttons{
      height: 100%;
      border-left: 1px solid #C21B35;
      display: flex;
      align-items: center;

      button{
        background-color: transparent;
        border: none;
        color: #ffffff;
  
        &.lang{
          width: 40px;
  
          &:first-of-type{
            border-right: 1px solid #C21B35;
          }
        }
        &.active{
          color: #C21B35;
        }
        &.signIn{
          background-color: #C21B35;
          width: 60px;
          height: 100%;
        }
      }
    }
  }
}
.nav{
  .inner-nav{
    display: flex;
    align-items: center;

    .logo{
      width: 100px;
      height: 70px;
      margin-top: 4px;
      margin-bottom: 1px;
      margin-right: 20px;

    }
    ul{
      list-style: none;
      display: flex;
      width: 40%;

      li{
        padding: 20px 20px;
        font-weight: bold;
      }
    }
    .search{
      width: 30%;
    }
    .call-us{
      display: flex;
      
      img{
        width: 43px;
        height: 43px;
        margin-right: 10px;
      }

    }
  }
}
.cover{
  background-image: url("./../Data/images/cover.png");
  background-size: cover;
  .inner-cover{
    width: 100%;
    height: 75vh;
    padding-left: 2%;

    .natural{
      position: relative;
      top: 30%;
      
      color: #4a5255;
      font-size: 16px;
      font-style: italic;
      font-weight: 100;
    }
    .carrier-box{
      position: relative;
      top: 40%;

      h2{
        color: #b8b9b4;
        font-size: 45px;
        line-height: .98;
      }
      .fresh{
        position: relative;
        top: -19px;

        color: #6d6c67;
      }
    }

  }
}
.categories{
  .inner-categories{
    //background-color: red;
    padding: 40px 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(8,11.5%);
    gap: 7px 1%;

    button{
      background-color: transparent;
      border: none;
      //color: #ffffff;
      &:focus-within{
        border: none;
      }
      .title{
        text-transform: capitalize;
        font-size: 18px;
        
        &.active{
          color: #C21B35;
        }
      }
    }
  }
}
.Ads{
  .inner-Ads{
    display: grid;
    grid-template-columns: 400px auto;
    gap: 20px;

    .hot-deals{
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 90px auto;
    }
    .new-arrivals{
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 90px auto;

      .cards{
        grid-column-start: span 2;
        display: grid;
        grid-template-columns: repeat(3,32%);
        gap: 20px;

        .Card{
          justify-self: end;
        }
      }
    }
  }
}
.meat-on-demand{

  .inner-meat-on-demand{
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 90px auto;
    gap: 30px;

    .TitlesBox{
      grid-column-start: span 2;
    }
  }
}
.last-day-sell{
  background-color: #efefef;
  .inner-last-day-sell{
    margin-top: 65px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 90px auto;
    gap: 0px 33px;
    .TitlesBox{
      grid-column-start: span 4;
    }
  }
}
.latest-news{
  .inner-latest-news{
    margin-top: 40px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 90px auto;
    gap: 0px 43px;
    .TitlesBox{
      grid-column-start: span 3;
    }
  }
}
.Ads2{
  .inner-Ads2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 23.125% 23.125% 23.125% 23.125%;
    grid-template-rows: 250px;
    gap: 2.5%;
    img{
      width: 100%;
      height: 100%;
    }
    img:nth-of-type(2){
      grid-column-start: span 2;
    }
  }
}
.testimonials{
  .inner-testimonials{
    margin-top: 40px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 90px auto;
    gap: 0px 43px;
    .TitlesBox{
      grid-column-start: span 3;
    }
  }
}