.NewsCard{

  img{
    //width: 440px;
    //height: 350px;
  }
  p{
    margin-top: 20px;
    font-size: 19px;
  }
  h2{
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
  }
}